/*Définition styles principaux*/

#block_page {
    max-width: 100%;
    margin: auto;
}

body {
    color: black;
    margin: 0px;
}

header {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 70%;

}

.home_menu {
    background-image: url(..//img/hero-area.jpg);
    background-size: cover;
}

.logo {
    display: inline-block;
    width: auto;
    align-items: center;
}

/* -- ICONES --*/

.lnr {
    color: #61d2b4;
    font-size: 30px;
    /* To get crisp results, use sizes that are
  a multiple of 20; because Linearicons was
  designed on a 20 by 20 grid. */
}

/*Navigation*/

nav ul {
    list-style-type: none;
    display: flex;
    padding-top: 25px;
}

nav a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 1.1em;
    margin-right: 40px;
}

nav a:hover {
    color: #61D2B4;
}

/* -- SECTIONS --*/

#home,
#services,
#features,
#works,
#pricing,
#team,
#blog,
#contact {
    flex-direction: column;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
    max-width: 70%;
    margin: auto;
}

.separation {
    width: 70px;
    background-color: #64d2b4;
    height: 2px;
    border: 0px;
    margin: 0px;
}

/* -- Home --*/

#home {
    color: white;
    padding: 20px 0px 100px 0px;
}

#home h1 {
    font-size: 3em;
}

#home p {
    font-size: 1.3em;
}

#home input {
    color: white;
    background: #61d2b4;
    border-radius: 20px;
    padding: 10px 30px;
    border-style: none;
    margin-top: 50px
}

#home input:hover {
    background: #d2b4;
}

/* -- SERVICES --*/

#services h1 {
    font-size: 2.2em;
    margin-top: 60px;
    margin-bottom: 20px;
}

.services {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.intro_services {
    text-align: center;
}

.services article {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

#services span {
    border: solid 2px #64d2b4;
    padding: 10px;
    border-radius: 30px;
}

#services span:hover {
    color: white;
    background-color: #64d2b4;
    padding: 10px;
    border-radius: 30px;
}

/*-- FEATURES --*/

.bloc_features {
    background-image: url(..//img/bg1.jpg);
    background-size: cover;
    color: white;
}

#features h1 {
    font-size: 2.2em;
    margin-top: 70px;
}

.intro_features {
    text-align: center;
    font-size: 1.1em;
}

.features {
    display: flex;
    flex-direction: row;
    vertical-align: top;
}

.features img {
    margin-top: -100px
}

.features article {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    margin-top: 30px;
}

.features_articles {
    display: flex;
    flex-direction: row;
}

.text_features h3 {
    margin: 0px;
    color: #64d2b4;
}

.text_features p {
    margin-top: 5px;
}

#features span {
    border: solid 2px #64d2b4;
    padding: 10px;
    border-radius: 30px;
    margin-right: 20px;
}

#features span:hover {
    color: white;
    background-color: #64d2b4;
    padding: 10px;
    border-radius: 30px;

}

/*-- WORKS --*/

#works {
    margin-top: 50px;
}

#works h1 {
    margin-bottom: 20px;
    font-size: 2.2em
}

#works button {
    color: white;
    background: #61d2b4;
    border-radius: 20px;
    padding: 10px 30px;
    border-style: none;
    margin-bottom: 30px;
    margin-right: 15px;
    font-size: 1em;
}

.intro_portfolio {
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: center;
    font-size: 1.1em;
}

#portfolio {
    display: flex;
    flex: row;
    flex-wrap: wrap;
    margin-right: -100px;
}

#portfolio img {
    width: 370px;
    height: 277px;
    margin-bottom: 20px;
    margin-right: 20px;
}

.video {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 15px 20px 15px;
    max-width: 70%;
    margin: auto;

}

.bloc_video {
    background: #64d2b4;
    max-width: 100%;
    margin: 0px;
    margin: 50px;

}

.video h2 {
    font-size: 2.2em
}

.video p {
    text-align: center;
    padding: 0px 70px 20px 70px;
}

.video span {
    color: white;
    border: solid 2px white;
    padding: 20px;
    border-radius: 50px;

}

/*-- PRICING --*/

#pricing h1 {
    font-size: 2.2em;
    margin-top: 40px;
    margin-bottom: 20px;
}

.intro_pricing {
    text-align: center;
    margin-top: 20px;
    font-size: 1.1em;
}

.forfaits {
    display: flex;
    flex-direction: row;
    margin-bottom: 60px;
}

#pricing article {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1px #f1f1f1;
    margin: 20px;
    text-align: center;
}


li {
    margin-bottom: 25px;
    list-style-type: none;
}

#pricing ul {
    margin: 25px;
    padding: 0px;
}

.prix {
    color: #64d1b4;
    font-weight: bold;
    font-size: 2.5em;
    margin: 1px;
}

#pricing button {
    color: white;
    background: #61d2b4;
    border-radius: 20px;
    padding: 10px 30px;
    border-style: none;
    margin-bottom: 15px;
}

.nom_forfait {
    background-color: #f1f1f1;
    font-weight: bold;
    font-size: 1.5em
}

.nom_forfait td {
    padding: 20px;

}

table {
    border-collapse: collapse;
}

td {
    padding: 10px 35px;
}

.bloc_stats {
    background-image: url(../img/counter.jpg);
    background-size: cover;
    padding: 60px;
}

.statistiques {
    display: flex;
    max-width: 70%;
    margin: auto;
}

.statistiques figure {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    font-size: 1.5em;
}

.statistiques span {
    color: white;
    margin-bottom: 20px;
    font-size: 2em;
}

.statistiques strong {
    font-size: 1.5em;
}

.statistiques figcaption {
    line-height: 1.5
}

/*-- TEAM --*/

#team h1 {
    font-size: 2.2em;
    margin-top: 40px;
    margin-bottom: 20px;
}

.intro_team {
    text-align: center;
    margin-top: 20px;
    font-size: 1.1em;
}

.membres {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
}

.membres article {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    background-color: #f1f1f1;
}

.membres img {
    max-width: 100%;
}

/*-- TESTIMONIAL --*/

.bloc_testimonial {
    background-image: url(../img/testimonial-bg.jpg);
    padding: 60px;
}

.testimonial {
    display: flex;
    max-width: 70%;
    margin: auto;
}

.testimonial article {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding: 20px;
    text-align: center;
}

.testimonial img {
    max-width: 100%;
    border-radius: 50px;
}

.testimonial h4 {
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 0px;
    margin-top: 20px;
}

.testimonial h5 {
    color: #99997F;
    margin-top: 10px;
}

/* -- BLOG --*/

#blog h1 {
    font-size: 2.2em;
    margin-top: 60px;
    margin-bottom: 20px;
}

.blog {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.intro_blog {
    text-align: center;
}

.blog article {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.blog h3 {
    margin: 0px;
    font-size: 1.5em;
}

.more {
    display: flex;
    align-items: center;
}

.more a {
    text-decoration: none;
    color: #a1a1a1;
}

.more span {
    color: #a1a1a1;
    font-size: 15px;
    margin-left: 4px;
}

.blog img {
    max-width: 100%;
}

.icones {
    display: flex;
    color: #A1A1A1;
    align-items: center;
}

.icones span {
    color: #A1A1A1;
    font-size: 15px;
    margin-right: 5px;
}

.icones p {
    margin-right: 15px
}

/*-- CONTACT --*/

.bloc_contact {
    background-color: #343A40;
    background-size: cover;
    padding: 60px;
}

#contact h2 {
    font-size: 2em;
}

#contact {
    display: flex;
    flex-direction: row;
    align-content: space-around;
}

.text_contact {
    flex: 1;
    color: white;
    line-height: 2;
    margin-right: 50px
}

em {
    color: #64d2b4;
    font-style: normal;
}

#contact form {
    flex: 1.5;
}

#contact fieldset {
    display: flex;
    border: none;
}

#nom,
#email,
textarea {
    width: 100%;
    margin-bottom: 20px;
    font-size: 1.1em;
    padding: 15px 0px;
    background-color: #343a40;
    border: solid 1px white;
}

#envoyer {
    color: white;
    background: #61d2b4;
    border-radius: 20px;
    padding: 10px 30px;
    border-style: none;
    margin-bottom: 15px;
    margin: auto;
}

/*-- FOOTER --*/
